<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "partials/head.html" . }}
</head>

<body class="flex flex-col items-center min-h-screen bg-blue-400">
  <!-- <div>
    {{ partial "partials/header.html" . }}
  </div> -->
  <div class="flex-1 flex justify-center items-center">
    <h1 class="text-white text-5xl">Hello!</h1>
  </div>
  <!-- <div class="self-stretch flex flex-col items-center bg-blue-400 p-3">
    <div class="container">
      {{ partial "partials/footer.html" . }}
    </div>
  </div> -->
</body>

</html>